numpy
pandas
matplotlib
scipy
statsmodels
scikit-learn
geopandas
shapely
pyproj
contextily
rasterio
cartopy
pypinyin
xgboost
openai
tqdm
polars
requests
earthengine-api
geemap
xarray
netCDF4
jupyter
